# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
test_output/

# Environments
.env
.venv
venv/
ENV/
env/
spec/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
